<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <!--数据源配置-->
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:driverClassName="com.mysql.jdbc.Driver"
          p:url="jdbc:mysql://localhost:3306/campusustc"
          p:username="root"
          p:password="123" />  
    <!--   Hibernate的sessionFactory配置    -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource">
            <ref bean="dataSource" />
        </property>
        <property name="annotatedClasses">
            <list>
                <value>com.ustc.domain.UstcAct</value>
                <value>com.ustc.domain.UstcActComment</value>
                <value>com.ustc.domain.UstcAttachment</value>
                <value>com.ustc.domain.UstcForumPost</value>
                <value>com.ustc.domain.UstcOrg</value>
                <value>com.ustc.domain.UstcProject</value>
                <value>com.ustc.domain.UstcSchool</value>
                <value>com.ustc.domain.UstcShare</value>
                <value>com.ustc.domain.UstcTodolist</value>
                <value>com.ustc.domain.UstcUser</value>
                <value>com.ustc.domain.UstcUserOrg</value>
                <value>com.ustc.domain.UstcUserProfile</value> 
                <value>com.ustc.domain.UstcUserProject</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
            </props>
        </property>
    </bean>
    
    <!--定义Hibernate的事务管理器HibernateTransactionManager -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <!-- 依赖注入上面定义的sessionFactory -->
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager"/>   
    
    <!-- 装配HibernateTemplate实例 -->
    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
        <constructor-arg ref="sessionFactory"/>
    </bean>
	
<!-- 装配通用数据库访问类BaseDAOImpl -->    
    <bean id="userDao" class="com.ustc.dao.impl.UserDaoHBImpl">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>
    <bean id="groupDao" class="com.ustc.dao.impl.GroupDaoHBImpl">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>
    <bean id="projectDao" class="com.ustc.dao.impl.ProjectDaoHBImpl">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>
     <bean id="userProjectDao" class="com.ustc.dao.impl.UserProjectDaoHBImpl">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>
     <bean id="userGroupDao" class="com.ustc.dao.impl.UserGroupDaoHBImpl">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>
        
<!-- 部署系统用户管理业务逻辑组件AdminServiceImpl --> 
    <bean id="userService" class="com.ustc.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="groupService" class="com.ustc.service.impl.GroupServiceImpl">
        <property name="groupDao" ref="groupDao"/>
    </bean>
    <bean id="projectService" class="com.ustc.service.impl.ProjectServiceImpl">
        <property name="projectDao" ref="projectDao"/>
    </bean>
     <bean id="userProjectService" class="com.ustc.service.impl.UserProjectServiceImpl">
        <property name="userProjectDao" ref="userProjectDao"/>
    </bean>
     <bean id="userGroupService" class="com.ustc.service.impl.UserGroupServiceImpl">
        <property name="userGroupDao" ref="userGroupDao"/>
    </bean>

</beans>
