@charset "utf-8";
/* CSS Document */
#site-topbar {
  min-width:960px;
  margin-top:10px;
  height: 60px;
  line-height: 59px; /* 1px residue */
  border-bottom:1px solid #999;
}
#logo {
  background:url(logo.png) no-repeat  18px 4px;
  padding-left: 152px;
  font-size: 18px;
  float: left;
}
#my-profile {
  float: right;
  margin-bottom: 6px;
}
#my-avatar {
  float: left;
  background: #b2b2b2 url(wo.png) no-repeat center center;
  width: 54px;
  height: 54px;
  border-radius: 0 0 6px 6px;
  box-shadow: 1px 2px 4px #CCC;
}
#my-manage {
  float: right;
  width: 600px;
  height: 54px;
  background: #b2b2b2;
  margin-left: 6px;
  border-radius: 0 0 0 6px;
  box-shadow: 1px 2px 4px #CCC;
}
#my-name-back {
  float:left;  
  padding:1px 4px 1px 4px;
  min-width:40px;
  max-width:65px;
  height:28px;
  line-height:27px;
  vertical-align:middle;  
  background: #d6d5d5;  
  border-radius: 4px 4px 4px 4px;
  display:inline;
  overflow:hidden; 
}
.img_mid{
	margin:0px 10px 6px 5px;
	vertical-align:middle;
	width:14px;
	height:14px;
}

.span-mid{
   color:#ebe9e9;   
   font-family:Microsoft Yahei;
   font-size:12px; 
   font-weight:bold;
   height:20px;      
   line-height:20px;   
}
.span-mid2{
   color:#626262;   
   font-family:Microsoft Yahei;
   font-size:14px; 
   font-weight:bold;
   height:30px;      
   line-height:30px;
   vertical-align:text-bottom;
}
.span-mid2 a:link, .span-mid2 a:visited {
	color:#626262;
	text-decoration:none;
}
.span-mid2 a:hover, .span-mid2 a:active {
	color:#FFF;
	/* background-color:#333; */
	text-decoration: none;
}



.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix { display: inline-block; }

/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

