@charset "utf-8";
/* CSS Document */
*{
	margin:0; padding:0;
	word-wrap:break-word; word-break:normal; 	
	}
a{
	color: inherit;
	text-decoration:none;
	}
#header{
	margin:0 auto; 
	background-color:#1d1d1d;
	height:60px;
	width:100%;
	border-bottom:1px solid #d0cfcd;
		}
.head-1160{
	margin:0 auto;
	width:1160px;
	height:59px;
	overflow:hidden;
	line-height:58px;
	vertical-align:middle;
	}
.logo{
	float:left;
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;
	font-weight:bold;
	font-size:40px;
	color:#c42328;
	padding:0 15px;
	margin-right:150px;	
	}
.logo a{
	font-family: Microsoft Yahei, "Times New Roman", Times, serif;
	font-weight:bold;
	font-size:40px;
	color:#c42328;
	text-decoration:none;}
.nav{
	float:left;	border-right:#4b4b4b 1px solid;
	}
.login1{
	float: right;
	color:#8e8e90;	
	}
.login1 a, .login1 span , .nav a{
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;
	font-weight:bold;
	font-size:16px;
	color:#8e8e90;
	padding:0 15px;
	text-decoration:none;
	}
.nav a:hover, .login1 a:hover, .login1 span:hover{
	color:#ffffff; cursor:pointer;
	}
.login1 img{
	width:50px;
	height:50px;
	border-radius:4px;
	vertical-align:middle;
	}	
#main{
	margin:0 auto;
	min-width:1162px;
	min-height:600px;	
	background-color:#f5f4f2;
	}
#mainding{
	margin:0 auto;
	width:1100px;
	min-height:600px;	
	background-color:#f5f4f2;
	}
#topcon{
	width:100%;
	background-color:#f6f6f6;
	min-height:55px;	
	-webkit-box-shadow:inset 0 2px white, 0 1px 3px rgba(34, 25, 25, 0.4);
	-moz-box-shadow:inset 0 2px white, 0 1px 3px rgba(34, 25, 25, 0.4);
    box-shadow:inset 0 2px white, 0 1px 3px rgba(34, 25, 25, 0.4);
	}
#topcon .cont{
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;
	margin:0 auto;
	width:1160px;
	}
.kuang{
	float:left;
	width:86px;
	text-align:center;
	margin: 6px 20px;	
	}
.ykuang{
	float:right;
	margin-top:6px;
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;	
	color:#8e8e90;
	font-size:14px;
	}
.topbutton{
	height:30px;
	line-height:28px;
	vertical-align:middle;
	padding:0 10px;
	border:1px solid #e0e0e0;
	background-color:rgba(238,238,238,0.6);	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius:4px;
/**	-webkit-box-shadow:inset 0 0px 1px white, 0 0px 1px rgba(34, 25, 25, 0.4);
	-moz-box-shadow:inset 0 0px 1px white, 0 0px 1px rgba(34, 25, 25, 0.4);
    box-shadow:inset 0 0px 1px white, 0 0px 1px rgba(34, 25, 25, 0.4);
**/	}
.topnum{
	float:right;	
	color:#C50076;
	padding:0 5px;
	height:16px;
	margin-top:-5px;
	margin-right:-5px;
	line-height:14px;
	vertical-align:middle;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:10px;
	font-weight:bold;
	background-color:rgba(238,238,238,0.6);
	border:1px solid #ffffff;
	border-radius:5px;
	-webkit-box-shadow:inset 0 0px 3px white, 1px 1px 4px rgba(34, 25, 25, 0.8);
	-moz-box-shadow:inset 0 0px 3px white, 1px 1px 4px rgba(34, 25, 25, 0.8);
    box-shadow:inset 0 0px 3px white, 1px 1px 4px rgba(34, 25, 25, 0.8);
	
	}
.topbutton:hover{
	cursor:pointer;
	background-color:#ffffff;
	color:#aaa;
	}
#content{
	width:100%;
	margin:10px auto;
	}
/*瀑布效果列表*/
#content ul {
	position:relative;
	font-size:12px;
	}
#content ul li{
	position:absolute;
	width:270px;
	min-height:150px;
	border:1px solid #ccc;
	box-shadow:0 1px 3px rgba(34, 25, 25, 0.4);
	-moz-box-shadow:0 1px 3px rgba(34, 25, 25, 0.4);
	-webkit-box-shadow:0 1px 3px rgba(34, 25, 25, 0.4);	
	background-color:#ffffff;
	list-style:none;
	margin:10px;
	padding:0px;
	}
#content ul li:hover{
	margin: 0px;
	padding:18px 10px 1px 10px;	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 1px 1px 4px #ffffff;
	-webkit-box-shadow: 1px 1px 4px #ffffff;
	box-shadow: 1px 1px 4px #ffffff;
	}

/**以下为列表块div的外观样式**/
#content li .celldiv{
	width:250px;
	min-height:150px;
	margin:10px;
	padding:0px;	
	}
/**块div中含有图片的样式，海报展现样式**/
.celldiv img{
	width:250px;
	margin:0;
	padding:0;
	}
.celldiv .detail{
	margin:5px 0px;
	width:100%;
	padding:0px;
	color:#CCC;
	font-size:14px;
}
.detail .hot{
	font-size:16px;
	width:100%;
	height:25px;
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;
	text-align:left;
	color:#F36;
}
.ding, .shenqing{
	float:right;
	height:20px;
	width:30px;
	margin-right:3px;
	border:1px solid #F06;
	background-color:#f06d62;
	border-radius:3px;
	line-height:20px;
	vertical-align:middle;
	text-align:center;
	font-weight:bold;
	font-size:16px;
	color:#FFF;
	}
.shenqing{width:65px;font-size:14px;}
.ding:hover,.shenqing:hover{
	color:#F00;
	background-color:#FC9;
	cursor:pointer;
	}

.school{
	margin:5px -15px 3px auto;
	float:right;
	padding:0 10px;
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;
	font-size:16px;
	line-height:24px;
	vertical-align:middle;
	height:25px;
	color:#333333;
	background-color:#d0d1d6;
	}
/**社团介绍**/
#main .title{
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;
	font-size:24px;
	font-weight:bold;
	color:#0382a8;
	border-bottom:2px solid #76b8da;
	text-align:center;
	}
.intro{
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;
	font-size:16px;
	color:#c2c2c2;
	max-height:420px;
	overflow:hidden;
	margin:5px 0px;
	}
.intro img{ margin:5px 0px;}

#selectm{
	width: 40px;
	height: 101px;
	background-color:#000;
	background:url(selectm.png);
	position: fixed;
	top: 120px;
	right: 0;
	z-index:5000;
	_position: absolute;
	_top: 240px;
	_right: 0;
	opacity: 0.2;
	filter: Alpha(Opacity=20);
	transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-webkit-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
}
#selectm:hover{
	cursor:pointer;
	opacity:0.8;
	filter: Alpha(Opacity=80);	
	}	

/*弹出框*/
#backbg{	
    position:fixed;
	z-index:10001;
	top:0px;
	left:0px;
	background:#000;
	opacity:0.3;
	filter:alpha(opacity=30);
	width:100%;
	height:100%;
	display:none;	
	}
#outlogdiv{
	position:absolute;
	z-index:11000;
	width:480px;
	height:260px;
	padding:4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius:4px;
	background:#000;
	opacity:0.6;
	filter:alpha(opacity=60);
	display:none;
	}
#outhaibao{
	position:fixed;
	z-index:12000;
	top:0px;	
	width:1100px;
	overflow:auto;
	padding:0px 10px;
	background:#FFF;
	border-left:#CCC 1px solid;
	border-right:#CCC 1px solid;
	display:none;		
	}
.closehb{
	float:right;
	width:26px;
	height:26px;
	margin-right:15px;
	border:1px solid #CCC;
	border-radius:3px;
	line-height:25px;
	text-align:center;
	vertical-align:middle;
	font-family:Verdana, Geneva, sans-serif;
	}
.closehb:hover{
	color:#F00;
	cursor:pointer;
	background-color:#FFC;
	}		
#slcdetail{	
	z-index:4500;
	width:160px;
	min-height:420px;
	top:120px;
	right:0px;
	background:#000;
	opacity:0.9;
	filter:alpha(opacity=90);
	display:none;		
	}
.sdcon{
	opacity:1;
	filter:alpha(opacity=100);
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;
	margin:8px;
	padding:0px;
	height:100px;
	color:#8e8e90;
	}
.sdcon .pp{
	font-size:14px;
	line-height:20px;
}
.selectedsx{
	font-weight:bold;
	font-size:16px;
	color:#DD4B39;
	}
	
.here1{ color:#FFF;}
.here2{ background-color:#ffffff;	color:#aaa;}	
.pp:hover{ color:#FFF; text-decoration:underline; cursor:pointer;}	
.haibao:hover, .shetuan:hover{ cursor:pointer;}	
.hide {opacity:0;filter:alpha(opacity=0)}
.clear{
	width:100%;
	height:0px;
	}
	
/*lcs的*/
.hdmeitou{
	line-height:29px;
	vertical-align:middle;
	background:#CCF; height:30px; margin:0px -10px 3px -10px; border-bottom:#aaaaaa 1px solid;
	}
.hdmeitou span{
	margin-left:16px;
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;	
	font-size:16px;
	color:#8e8e90;
	}
.photocome{
	text-align:center;
	max-width:1010px;
	margin:0 auto;
}
.photocome img{max-width:1000px; }
.hb_footer{
	width:1000px;	
	/*min-height:500px;*/
	margin:5px auto;
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;
	height:42px;
	line-height:40px;
	vertical-align:middle;
	background:#EDFFFF;
}
.fenxiangl{
	float:left;
	color:#088;
	line-height:40px;
	vertical-align:middle;
	margin-left:100px;
	min-width:200px;
}
.fenxiangr{
	float:right;
	color:#088;
	line-height:40px;
	vertical-align:middle;
	margin-right:120px;
	min-width:200px;
	font-size:20px;	
}
.fenxiangl a ,.fenxiangr a{
	font-size:20px;
	color:#088;
}
.share1{
	color:#088;
	line-height:40px;
	vertical-align:middle;
	margin-right:10px;
	min-width:200px;
	font-size:20px;	
	}
.hbbeizhu{
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;	
	font-size:16px;
	color:#70707b;
	padding:5px 20px; 
	}
	
	
	
.post_reply{
	padding-top:13px;
	background-color:whiteSmoke;
	width:100%;
	
}
.add_reply{
	padding:15px 20px;
	height:50px;
}
form{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: 
	transparent;
}
.clear_fix{
	zoom:1;
}
.clear_fix:before,.clear_fix:after{
	content: ' 0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.add_reply textarea{
	width: 935px;
	height: 50px;
	padding: 3px;
	border: 1px solid #D9D9D9;
	vertical-align: bottom;
	background-color: white;
	float: left;
}
textarea{
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;
	font-size:16px;
	color:#542;
	height:36px;
	border-color:#DDD;
	display:block;
	resize:none;
	outline:0 none;
	border:1px solid #CEE;
	overflow:auto;
}
.reply_submit{
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;
	float: right;
	width: 76px;
	height: 34px;
	line-height: 34px;
	padding: 0;
	border: 1px solid #D9D9D9;
	outline: 0 none;
	margin: 0;
	font-size: 17px;
	font-weight: bold;
	color: #0685B1;
	background-color: #EEE;
	cursor: pointer;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	vertical-align:middle;
}
.reply_submit:hover{
	background-color:#CCC;
}
.add_reply .sync_area{
	display: block;
	height: 35px;
	overflow: hidden;
	padding-right: 105px;
	padding-top: 5px;
	clear: both;
	text-align: right;
	font-size: 14px;
}
.sync_area input{
	margin-top:5px;
}
label{
	cursor:pointer;
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;
	font-size:14px;
	font-weight:bold;
	color:#542;
}

.huifulist{
	padding:5px 20px;
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;
	font-size:16px;
	color:#542;
	}
.hflistcell{
	border-bottom: 1px dotted #7AC7BD;
	margin:10px 0;
	padding:5px 0;
	}
.hftouxiang{
	width:50px;
	height:50px;
	margin-top:5px;	
	}
.hfcontent{
	padding:5px;
	}
.hfpointer{
	color:#0685B1;
	}
.time11{
	color:#CCCCCC;
	font-size:14px;
	}
.time11:hover{
	color:#542;
	cursor:pointer;
	}
.dymian {
	margin-left:60px;
	}
.dymian a{
	font-size:14px;
	color:#2A3F00;
	}



.boyname{ color: #007FFF;}
.girlname{ color:#FF5FAA;}