@charset "utf-8";
/* CSS Document */
a{
	text-decoration:none;
}
#mainbody{
	width:90%;
	height:600px;
	padding:20px;
	color:#FFF;
	font-family:Microsoft yahei;
	font-size:14px;
	font-weight:bold;
	background:#DDD;
	margin:40px auto auto auto;
	border:  #CCC 1px outset;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright:10px;
	-moz-border-radius-bottomleft:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;


}
#mainleft{
	width:300px;
	height:550px;
	float:left;
	margin:30px auto auto  auto;
	overflow: hidden;
}






.activityhost{
	display:block;
}


#host{
	width:500px;
	height:90px;
	padding-left:20px;
	padding-top:20px;
	


}
.star{
	width:20px;
	height:20px;
	float:left;
	margin:30px auto  auto  10px;
}
#msg{
	width:550px;
	padding:15px;
	height:300px;
	
	overflow:auto;
	overflow-x:hidden;
}
.hostmsg,.guestmsg{
	float:left;
	max-width:400px;
	opacity:0.6;

	padding:5px;
	line-height:30px;
	margin-top:0px;
	margin-left:5px;
	word-wrap: break-word;
	word-break:break-all;
	border:#CCC  thin  outset;
	
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright:8px;
	-moz-border-radius-bottomleft:8px;

	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
}
#edge1{
	float:left;
	width:30px;
	height:30px;
	margin-left:-15px;
	margin-top:-20px;
}

.guestmsg{
	float:right;
}
.wrapmsg{
	background:url(http://home.ustc.edu.cn/~wyqq/star2.jpg) bottom left no-repeat; 
	width:90%; 
	height:30px;

}
