@charset "utf-8";
/* CSS Document */

*{
	margin:0; padding:0;
	word-wrap:break-word; word-break:normal; 	
	}
a{
	color: inherit;
	text-decoration:none;
	cursor:pointer;
	}	
#smain{
	position:relative;
	margin:0 auto;
	width:1160px;
	min-height:810px;
	border-left:2px solid #F0F0EE;
	border-right:2px solid #F0F0EE;	
	
	}
/*
#smmiddle{
	margin:0 auto;
	padding:0;
	width:1200px;
	overflow:hidden;
}
*/
.onepanel{
	position:absolute;
	top:0;
	left:10px;
	width:800px;	
	padding-right:20px;
	border-right:2px solid #F0F0F0;
	-webkit-box-shadow: inset -1px 0px white;
	-moz-box-shadow: inset -1px 0px white;
	 box-shadow:inset -1px 0px white;
}
.declarerect{
	margin:20px 0;
	padding:0 10px;
	/*border:1px solid #E11;*/
}
.declaretitle{
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;
	font-weight:bold;
	font-size:20px;
	color:#000;
	margin:0 auto;
	text-align:center;
}
.declareright{
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;
	font-weight:bold;
	font-size:20px;
	color:#000;
}
.declarelist{
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;
	font-size:17px;
	color:#E11;
}
.gray_b_line{
	/*background:url(images/v_v_10.png);*/
	background-color:#AAA;
	height:6px;
	display:block;
	clear:both;
}
.messagerect{	
	margin:30px 0;
	height:30px;
	padding-left:10px;
	border-bottom:1px solid #666;
	-webkit-box-shadow:inset 0 -1px white, 0 1px 0rgba(34, 25, 25, 0.4);
	-moz-box-shadow:inset 0 -1px white, 0 1px 0 rgba(34, 25, 25, 0.4);
    box-shadow:inset 0 -1px white, 0 1px 0 rgba(34, 25, 25, 0.4);
	overflow:hidden;
}
.appfoundrect{
	height:24px;
	line-height:22px;
	vertical-align:middle;
	float:left;
}
.appfoundtext{
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;
	font-weight:bold;
	font-size:20px;
	color:#000;
}
.appfoundtext a{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	font-size:25px;
	color:#088;
}
.appchangerect{
	height:24px;
	line-height:22px;
	vertical-align:middle;
	margin-left:55px;
	float:left;
}
.appchangetext{
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;
	font-weight:bold;
	font-size:20px;
	color:#000;
}
.appchangetext a{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	font-size:25px;
	color:#088;
}
.appnoticerect{
	height:24px;
	line-height:22px;
	vertical-align:middle;
	margin-left:55px;
	float:left;
}
.appnoticetext{
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;
	font-weight:bold;
	font-size:20px;
	color:#000;
}
.num1234{
	font-family:Georgia, "Times New Roman", Times, serif;	
	font-size:25px;
	color:#088;
}
.existrect{
	margin:25px 0;
	padding:0;
}
.existnamerect{
	height:35px;
	line-height:35px;
	vertical-align:middle;
	background-color:#AAA;
	padding-left:10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.existnametext{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	font-size:20px;
	color:#000;
}
.existcontentrect{
	margin:10px 0 0 20px;
	height:300px;
	overflow:auto;
}
.existheadrect{
	height:30px;
	overflow:hidden;
	border-bottom:1px solid #666;
}
.existdiv{
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;
	font-size:17px;
	color:#000;
	width:11%;
	overflow:hidden;
}
.existlabel{
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;
	font-size:17px;
	color:#000;
	width:14%;
	overflow:hidden;
}
.existsocname{
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;
	font-size:17px;
	color:#000;
	width:24%;
	overflow:hidden;
}
.existcharge{
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;
	font-size:17px;
	color:#000;
	width:14%;
	overflow:hidden;
}
.existdegree{
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;
	font-size:17px;
	color:#000;
	width:10%;
	overflow:hidden;
}
.existmember{
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;
	font-size:17px;
	color:#000;
	width:14%;
	overflow:hidden;
}
.existacti{
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;
	font-size:17px;
	color:#000;
	width:10%;
	overflow:hidden;
}
.existlistrect{
	height:30px;
	overflow:hidden;
}
.existlistrect: hover{
	background-color:#666;
}
.existlistrect td{
	border-bottom:1px solid #666;
}
.existlabel a{
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;
	font-size:16px;
	color:#088;
	cursor:pointer;
}
.existsocname a{
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;
	font-size:16px;
	color:#088;
	cursor:pointer;
}
.existcharge a{
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;
	font-size:16px;
	color:#088;
	cursor:pointer;
}
.existmember a{
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;
	font-size:16px;
	color:#088;
	cursor:pointer;
}
.existacti a{
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;
	font-size:16px;
	color:#088;
	cursor:pointer;
}
#logrect{	
	width:310px;
	position:absolute;
	top:30px;
	right:5px;	
	
}
.logname{
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;
	font-size:20px;
	font-weight:bold;
	color:#000;
	height:22px;
	text-align:left;
}
.logcontentrect{
	margin:10px 0px 20px 0px;
	width:310px;
	font-size:12px;
}
.logcontextlistodd{
	font-family:Microsoft Yahei, "Times New Roman", Times, serif;
	margin:5px 0px 5px 5px;
	color:#666666;
	width:305px;
	line-height:18px;	
	text-align:left;
	border-bottom: 1px dotted #555FFF;	
}
.logcontextlistodd:hover{
	color:#000;
	background-color:#FFA;
	cursor:default;
	}
.logtime{
	background:#CCCCCC;
	}