@charset "utf-8";
/* CSS Document */
/*圆角矩形对话框的css 注意此处我们不用radius，是为了让大部分ie用户也能看到圆角效果，毕竟除了ie9外ie都不支持css3属性*/
/*通用样式--容器宽度值*/
.sharp{ min-width:100px; max-width:615px; margin:5px 20px 5px 0px;float:left;}
.sharp1{min-width:100px; max-width:615px; margin:5px 0px 5px 5px;float:right;}
/*圆角框具体框架*/
.content{ width:auto; height:auto; padding:5px 5px 0px 5px; font-size:14px; font-weight:normal; word-wrap:break-word; word-break:normal;}
/*上圆角框通用设置样式，如果要运用多个不同颜色，以下6句不用重新变化--------------------------------*/
.b1,.b2,.b3,.b4,.b5,.b6,.b7,.b8{height:1px; font-size:1px; overflow:hidden; display:block;}
.b1,.b8{margin:0 5px;}
.b2,.b7{margin:0 3px;border-right:2px solid; border-left:2px solid;}
.b3,.b6{margin:0 2px;border-right:1px solid; border-left:1px solid;}
.b4,.b5{margin:0 1px;border-right:1px solid; border-left:1px solid; height:2px;}
.content {border-right:1px solid;border-left:1px solid;overflow:hidden;}
/*颜色方案二,绿色边框----------------------------------------*/
/*下面第一、二句决定边框颜色，第三句决定背景颜色*/
/*边框色*/
.color2 .b2,.color2 .b3,.color2 .b4,.color2 .b5,.color2 .b6,.color2 .b7,.color2 .content{border-color:#9BDF70;}
.color2 .b1,.color2 .b8{background:#9BDF70;}
/*背景色*/
.color2 .b2,.color2 .b3,.color2 .b4,.color2 .b5,.color2 .b6,.color2 .b7,.color2 .content{background:#F0FBEB;}

/*颜色方案五,粉色边框----------------------------------------*/
/*下面第一、二句决定边框颜色，第三句决定背景颜色*/
/*边框色*/
.color5 .b2,.color5 .b3,.color5 .b4,.color5 .b5,.color5 .b6,.color5 .b7,.color5 .content{border-color:#F8B3D0;}
.color5 .b1,.color5 .b8{background:#F8B3D0;}
/*背景色*/
.color5 .b2,.color5 .b3,.color5 .b4,.color5 .b5,.color5 .b6,.color5 .b7,.color5 .content{background:#FFF5FA;}
/*以上为圆角框的css代码部分*/

